<div class="col-xs-12 col-md-6">
    <div class="ultra-feature-container">
    <h3>Top 10 Produtos do Mês</h3>
        <div class="table-responsive">
        <table class="table table-houver table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cód.</th>
                    <th>Descrição.</th>
                    <th>Qtd. de Vendas</th>
                </tr>
            </thead>

            <tbody>
                {% for produto in top10Produtos %}
                <tr>
                    <td>{{ "%iº"|format(loop.index) }}</td>              
                    <td>{{ produto.id_produto }}</td>
                    <td>{{ produto.descricao|title()|truncate(45, True) }}</td>
                    <td>{{ produto.qtdade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-6">
    <div class="ultra-feature-container">
    <h3>Top 10 Clientes do Mês</h3>
        <div class="table-responsive">
        <table class="table table-houver table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cód.</th>
                    <th>Nome.</th>
                    <th>Valor Comprado</th>
                </tr>
            </thead>

            <tbody>
                {% for cliente in top10Clientes %}
                <tr>
                    <td>{{ "%iº"|format(loop.index) }}</td>              
                    <td>{{ cliente.idCliFor }}</td>
                    <td>{{ cliente.nome|title()|truncate(45, True) }}</td>
                    <td>{{ cliente.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>