<div id="u-topbar">
        
    <div class="title">
            Stoky<br />
            <span class="title-sub">Sistema</span>
        </div>
        
        <span class="left-panel-toggle">
            <i class="fa fa-bars"></i>
        </span>

        <ul class="topbar-user list-unstyled">
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="topbar-username">BRAVO<i class="fa fa-angle-down"></i></span>
                    <span class="topbar-userimage"><img src="{{ url_for('static', filename='img/user.jpg') }}" alt="user-image" /></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0);">
                            Minha Conta
                        </a>
                        <a href="javascript:void(0);">
                            Sair
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>